/* Colors */
:root {
    --text-color: pink;
}

/* Hide Scrollbar */
body::-webkit-scrollbar {
    display: none;
}
.wrapper::-webkit-scrollbar {
    display: none;
}

/* Layering */
#sun_canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.wrapper {
    position: absolute;
    z-index: 2;
    width: 100%;
    /* height: 100vh; */
    overflow: visible;
    /* scroll-snap-type: y mandatory; */
}

.wrapper .section {
    color: var(--text-color);
    /* border-style: dotted;
    border-width: 2px;
    border-color: white; */
    width: 100vw;
    height: 100vh;
    /* scroll-snap-align: start; */
}

/* Navbar */
.nav {
    text-align: center;
    position: fixed;
    z-index: 3;
}
.nav .columns {
    width: 70vw;
    height: 20vh;
    margin-left: 15vw;
}
.nav .column {
    color: white;
    font-size: 20px;
    align-self: center;
}
.nav .column:hover {
    color: orange;
    border-style: solid;
    border-width: 1px;
    border-color: orange;
    transition: all 0.3s;
}
.nav hr {
    margin-top: -7vh;
    width: 70vw;
    margin-left: 15vw;
    height: 0px;
    border: none;
    border-top: 1px solid white;
}

/* Text */
.section .title {
    color: white;
    font-size: 12vh;
}
.section .subtitle {
    color: white;
    font-size: 6vh;
}
.header {
    margin-top: -5vw;
}
.chevron {
    color: orange;
}

.subtitle:hover {
    color: orange;
    transition: all 0.3s;
}

.description {
    color: white;
    font-size: 3vh;
}
.centered {
    text-align: center;
}

/* Page Text */

.text-wrapper {
    width: 80vw;
    margin-left: 10vw;
    margin-top: 10vw;
    margin-bottom: 5vw;
    position: absolute;
    z-index: 2;
    background-color: white;
    opacity: 0.95;
}
.text-wrapper .title {
    margin-left: 5vw;
    margin-top: 5vw;
}
.text-wrapper p {
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 5vw;
    color: black;
}
